
<style>
    .collapsible-body p {
        margin: 0;
        padding: 5px;
    }
    .custom-item{
        padding-right: 3px;
        padding-left: 13px;
        height: 30px;
    }
    .custom-item:hover{
        background-color: #dcdcdc;
        cursor: pointer;
    }
    .actived {
        background-color: #dcdcdc;
        cursor: pointer;
    }
    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 100%;
    }
    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
    }
    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
    .table {
        border-collapse: collapse !important;
    }
    .table th {
        background-color: #CCC !important;
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ddd !important;
    }
    .table-grey {
        background-color: #f5f5f5;
    }
    tr:nth-child(odd) {background: #f3f3f3 }
    tr:nth-child(even) {background: #FFF}
    tr:hover{
        background-color: #f2f2f2;
    }
    .spacing{
        margin-left: 10px;
        margin-right: 10px;
    }




    period-filter-container {
        /*display: grid;*/
        /*grid-template-columns: repeat(2, 1fr);*/
        /*border: solid 1px #dddddd;*/
        padding: .2em;
    }

    .period-top-section {
        display: flex;
        justify-content: space-between;
    }

    .period-type-section,
    .period-year-section {
        flex: 1;
    }

    .period-year-section {
        display: flex;
        justify-content: flex-end;
    }

    .period-header {
        display: flex;
    }


    .period-top-section,
    .period-year-btns {
        padding-bottom:.2em;
    }

    .period-available-header {
        flex: 1;
        display: flex;
        justify-content: space-between;
        border: solid 1px #dddddd;
        padding: 5px 10px;
        font-size: 13px;
    }

    .period-selected-header {
        flex: 1;
        display: flex;
        justify-content: space-between;
        border-top: solid 1px #dddddd;
        border-bottom: solid 1px #dddddd;
        border-right: solid 1px #dddddd;
        padding: 5px 10px;
        font-size: 13px;
    }

    .period-available-header a,
    .period-selected-header a {
        cursor: pointer;
    }

    .period-body {
        display: flex;
        border-left: solid 1px #dddddd;
        border-right: solid 1px #dddddd;
        border-bottom: solid 1px #dddddd;
    }

    .period-available-body,
    .period-selected-body {
        flex: 1;
        padding: .2em;
        height: 220px;
        overflow: auto;
    }

    .period-available-body {
        border-right: solid 1px #dddddd;
    }

    .period-filter-btns {
        display: flex;
        justify-content: flex-end;
        padding-top: .2em;
    }

    .period-available-body::-webkit-scrollbar,
    .period-selected-body::-webkit-scrollbar {
        width: 5px;
    }

    .period-available-body::-webkit-scrollbar-track,
    .period-selected-body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        border-radius: 10px;
    }

    .period-available-body::-webkit-scrollbar-thumb,
    .period-selected-body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    }

    .period-list {
        list-style-type: none;
        padding: 5px;
    }

    .period-list > li > a {
        padding: 5px;
        display: block;
        width: 100%;
        cursor: pointer;
        font-size: 12px;
        color: #000000;
    }

    .period-list > li > a:hover {
        background-color: #dddddd;
    }

    .single-period-selection {
        overflow: auto;
        height: 250px;
    }

    .criteria-buttons{
        margin-left: 8px;
    }

    .loader-info-note{
        text-align: center;
        font-size: 40px;
        color: #CCC;
    }



    #HealthyFacilityTable thead th{
        border: 1px solid #ccc;
        padding: 5px;
    }

    #OutReachTable thead th{
        border: 1px solid #ccc;
        padding: 5px;
    }

    #LessTwentyAgeTable thead th{
        border: 1px solid #ccc;
        padding: 5px;
    }

    #CBDTable thead th{
        border: 1px solid #ccc;
        padding: 5px;
    }

    #CBDTable tfoot tr, td{
        border: 1px solid #ccc;
        padding: 5px;
    }

    #OutreactTable thead th{
        border: 1px solid #ccc;
        padding: 5px;
    }

    #facilityTable thead th{
        border: 1px solid #ccc;
        padding: 5px;
    }

    #TwentyYearsAge thead th{
        border: 1px solid #ccc;
        padding: 5px;
    }

    #commoditiesTable thead th{
        border: 1px solid #ccc;
        padding: 5px;
    }

    #TrainedHW thead th{
        border: 1px solid #ccc;
        padding: 5px;
    }

    #service_and_intergrationsTable thead th{
        border: 1px solid #ccc;
        padding: 5px;
    }



</style>


<!--<div class="row">-->
<!--<div ng-include="'views/family_planning/fp_filters.html'"></div>-->
<!--</div>-->

<div class="row" >
    <!--menus-->
    <div ng-include="'views/family_planning/fp_menu.html'"></div>

    <!--cards-->


    <div class="col s12 m12 l10" style="margin-top: 82px">
        <div class="section">
            <!--<div class="{{ fpCards[0].cardClass }}" style="padding-left: 0px">-->
            <!--<div portal-card="" dataobject='fpCards[0]'></div>-->
            <!--</div>-->

            <!--<div class="{{ fpCards[1].cardClass }}" style="padding-left: 0px">-->
            <!--<div portal-card="" dataobject='fpCards[1]'></div>-->
            <!--</div>-->

            <div>
                <h4>Custom Reports</h4>
            </div>

            <div ng-if="showReportSection" class="col">
                <form>

                    <div class="row" style="display: flex;">
                        <button  class="btn btn-info " ng-click="previewReport()">Data criteria</button><br>
                        <!--<button  class="btn btn-info criteria-buttons" >Download excel</button><br>-->
                        <button  class="btn btn-info criteria-buttons" ng-click="printReport()">Print report</button><br>
                    </div>

                </form>
            </div>

            <div class="col s12 m12">

                <div ng-if="!showReportSection" class="card">

                    <div class="col" style="margin-top: 20px;width: 48%">
                        <!--orgunit selection-->
                        <div class="row">
                            <form>
                                <div class="form-group" >
                                    <label>Country:</label>

                                    <multi-select-tree
                                            data-input-model="data.orgUnitTree"
                                            multi-select="false"
                                            data-output-model="data.outRegistrationOrganisationUnits"
                                            data-default-label="Select Organization Unit"
                                            data-callback="selectOnly1Or2(item, selectedItems)">
                                    </multi-select-tree>
                                </div>

                                <div class="row" style="margin-top: 15px">
                                    <div class="col">
                                        <label class="container">Include sub-orgunit level data
                                            <input type="checkbox" ng-model="aggregateDataWithChildrenOrgunit" ng-change="toggleIncludesubOrgunitLevel(aggregateDataWithChildrenOrgunit)" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!--end orgunit selection-->

                        <!--period selection-->
                        <div class="period-filter-container">
                            <!--period type and year selection block-->
                            <div class="period-top-section">
                                <div class="period-type-section">
                                    <select
                                            ng-model="selectedPeriodType"
                                            ng-change="updatePeriodType(selectedPeriodType, $event)"
                                            class="form-control input-sm pull-left "  style="display: flex !important;"
                                    >
                                        <option value="" disabled>Relative Month</option>
                                        <option
                                                ng-repeat="periodType in periodTypes"
                                                value="{{periodType.value}}"
                                        >{{periodType.name}}</option>
                                    </select>
                                </div>
                                <div class="period-year-section">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-outline-secondary" ng-click="pushPeriodBackward($event)">Prev Year</button>
                                        <button type="button" class="btn btn-outline-secondary" ng-click="pushPeriodForward($event)">Next Year</button>
                                    </div>
                                </div>
                            </div>
                            <!--end of period type and year selection block-->

                            <!--period body-->
                            <div class="multiple-period-selection">
                                <!--period available and selected section-->
                                <div class="period-header">
                                    <div class="period-available-header">
                                        <span>Available ({{availablePeriods.length}})</span>
                                        <a (click)="selectAllPeriods($event)">&raquo;</a>
                                    </div>
                                    <div class="period-selected-header">
                                        <a (click)="deselectAllPeriods($event)">&laquo;</a>
                                        <span>Selected ({{selectedPeriods.length}})</span>
                                    </div>
                                </div>
                                <!--end of period available and selected section-->
                                <div class="period-body">
                                    <div class="period-available-body">
                                        <ul class="period-list">
                                            <li
                                                    ng-repeat="availablePeriod in availablePeriods"
                                            >
                                                <a ng-click="toggleAvailablePeriod(availablePeriod, $event)">
                                                    {{availablePeriod.name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="period-selected-body">
                                        <ul class="period-list">
                                            <li
                                                    ng-repeat="selectedPeriod in selectedPeriods"
                                            >
                                                <a ng-click="toggleSelectedPeriod(selectedPeriod, $event)">
                                                    {{selectedPeriod.name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--period selection-->
                    </div>

                    <!--second card row on page items-->
                    <div class="row">
                        <div class="col" style="width: 50%;">
                            <!--report type selection-->
                            <div class="col" style="width: 50%;" >
                                <form>
                                    <label>Report type:</label>
                                    <div class="form-group" >
                                        <div class="col input-field" style="width: 100%;">
                                            <select ng-model="selectedReport" ng-change="selectedReportType(selectedReport)" material-select watch >
                                                <option ng-repeat="report in reportTypes track by $index" ng-value="report.id" >{{report.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--report type selection-->

                            <!--aggregation type-->
                            <div ng-if="!showfacilityReport" class="col" style="width: 50%;" >
                                <form>
                                    <label>Aggregation type:</label>
                                    <div class="form-group" >
                                        <div class="col input-field" style="width: 100%;">
                                            <select ng-model="selectedAggregagtionType" ng-change="selectedAggregate(selectedAggregagtionType)"  material-select watch >
                                                <option ng-repeat="aggregate in aggregationTypes track by $index" ng-value="aggregate.name" selected="{{aggregate.selected}}">{{aggregate.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--aggregation type-->
                        </div>
                        <div ng-if="!showfacilityReport">
                        <div class="col" style="width: 50%;" ng-if="showstaffedOptions">
                            <div class="card">
                                <div class="col" style="margin-top: 2%;width: 100%">
                                    <form>
                                        <div class="form-group" >
                                            <label>Facility staffed with HWs Trained in :</label>
                                            <div class="card">
                                                <ul class="list-group">
                                                    <li ng-repeat="option in staffedHWstrained track by $index"
                                                        class="list-group-item custom-item {{option.active}}"
                                                        ng-click="updateOutreachCBD(option)">{{option.name}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col" style="width: 50%;" ng-if="showclientsOptions">
                            <div class="card">

                                <div class="row">
                                    <div class="col" style="margin-top: 2%;width: 33%">
                                        <form>
                                            <div class="form-group" >
                                                <label>Clients by service : <br>
                                                    Routine facility based
                                                </label>
                                                <div class="card">
                                                    <ul class="list-group">
                                                        <li ng-repeat="routineData in routineFacilityData track by $index"
                                                            class="list-group-item custom-item {{routineData.active}} "
                                                            ng-click="updatingsRoutineDatatoTable(routineData)"> {{routineData.name}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col" style="margin-top: 2%;width: 33%">
                                        <form>
                                            <div class="form-group" >
                                                <label>Clients by service : <br>
                                                    Outreach
                                                </label>
                                                <div class="card">
                                                    <ul class="list-group">
                                                        <li ng-repeat="outReacher in outreachData track by $index"
                                                            class="list-group-item custom-item {{outReacher.active}} "
                                                            ng-click="updatingsOutreachOptionsToTable(outReacher)"> {{outReacher.name}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col" style="margin-top: 2%;width: 33%">
                                        <form>
                                            <div class="form-group" >
                                                <label>Clients by service : <br>
                                                    CBD
                                                </label>
                                                <div class="card">
                                                    <ul class="list-group">
                                                        <li ng-repeat="cbdService in cbdServiceData track by $index"
                                                            class="list-group-item custom-item {{cbdService.active}} "
                                                            ng-click="updatingsCBDtoTable(cbdService)"> {{cbdService.name}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col" style="width: 50%;" ng-if="showfacilityOptions">
                            <div class="card">
                                <div class="col" style="margin-top: 2%;width: 100%">
                                    <form>
                                        <label>Facility providing services </label>
                                        <div class="form-group" >
                                            <div class="card">
                                                <ul class="list-group">
                                                    <li ng-repeat="service in providingServiceData track by $index"
                                                        class="list-group-item custom-item {{service.active}} "
                                                        ng-click="updatingHistoryOfProvisionDatatoTable(service)"> {{service.name}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col" style="width: 50%" ng-if="showstockOptions">
                            <div class="card">
                                <div class="col" style="margin-top: 2%;width: 100%">
                                    <form>
                                        <div class="form-group" >
                                            <label>Facility stocked out:</label>
                                            <div class="card">
                                                <ul class="list-group">
                                                    <li ng-repeat="stock in facilityStockOutData track by $index"
                                                        class="list-group-item custom-item {{stock.active}} "
                                                        ng-click="updatingfacilityStockDatatoTable(stock)"> {{stock.name}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col" style="width: 50%;" ng-if="showserviceIntegrationOptions">
                            <div class="card">
                                <div class="col" style="margin-top: 2%;width: 100%">
                                    <form>
                                        <div class="form-group" >
                                            <label>Service integration </label>
                                            <div class="card">
                                                <ul class="list-group">
                                                    <li ng-repeat="serviceData in serviceIntergrationData track by $index"
                                                        class="list-group-item custom-item {{serviceData.active}} "
                                                        ng-click="updatingServiceIntergrationDatatoTable(serviceData)"> {{serviceData.name}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                        </div>
                    </div>

                    <!--preview button for the displaying reports-->
                    <div class="row">
                        <div class="col" style="width: 6%;margin-left: 45%;">
                            <form>
                                <p>
                                    <button  class="btn btn-info" ng-click="previewReport()">Preview</button><br>
                                </p>
                            </form>
                        </div>
                    </div>
                    <!--preview button for the displaying reports-->

                </div>

                <!--Report displaying tables-->
                <div ng-if="showReportSection && !showfacilityReport && !showLoaderImage" id="dynamicReport" class="card">
                    <div style="text-align: center">
                        <h5>{{reportHeader}} from {{selectedOrgunit.name}}</h5>
                    </div>
                    <div class="row spacing">
                        <table class="table table-hover table-condensed table-bordered">
                            <tr class="table-grey">
                                <th ng-repeat="header in tableHeader track by $index"> {{header.name}}</th>
                            </tr>

                            <tr ng-repeat="row in tableContents track by $index">
                                <td>{{$index + 1}}</td>
                                <td ng-if="row.country">{{row.country}}</td>
                                <td ng-if="row.zone">{{row.zone}}</td>
                                <td ng-if="row.region">{{row.region}}</td>
                                <td ng-if="row.district">{{row.district}}</td>
                                <td ng-if="row.facility">{{row.facility}}</td>
                                <td ng-if="row.facilityType">{{row.facilityType}}</td>
                                <td>{{row.period.name}}</td>
                                <td>{{row.fpFacilitiesReporting}}</td>
                                <td>{{row.fpFacilities}} </td>
                                <td ng-repeat="headerValue in row.indicatorItems track by $index">
                                    {{analyticsDataCollection[headerValue.id+'-'+row.orgunit+'-'+row.period.id]}}
                                </td>
                                <!--<td>{{analyticsDataCollection[row.indicatorItems[getLength(row.indicatorItems)].id+'-'+row.orgunit+'-'+row.period.id]}}</td>-->
                            </tr>

                        </table>
                    </div>
                </div>
                <!--End of Report displaying tables-->

                 <!--caniam report view-->
                <div ng-if="showReportSection && showfacilityReport && !showLoaderImage"  class="card">
                    <div id="comprehensiveReport" class="cainam-contain">
                        <div class="row">
                            <div class="alert alert-danger" role="alert" id="notification" style="display: none">

                            </div>
                        </div>
                        <div class="row">
                            <div style="text-align: center;font-size: 32px;">
                                Comprehensive FP report of {{selectedOrgunit.name}}
                            </div>

                            <br>
                            <div class="row" style="padding-left: 10px;padding-right: 10px;">
                                <div class="col-md-6">
                                    <table id="TrainedHW">

                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row" style="padding-left: 10px;padding-right: 10px;">
                            <div class="col-md-6">
                                <table id="HealthyFacilityTable">

                                </table>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row" style="padding-left: 10px;padding-right: 10px;">
                            <div class="col-md-6">
                                <table id="CBDTable">

                                </table>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row" style="padding-left: 10px;padding-right: 10px;">
                            <div class="col-md-6">
                                <table id="OutReachTable">

                                </table>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row" style="padding-left: 10px;padding-right: 10px;">
                            <div class="col-md-6">
                                <table id="LessTwentyAgeTable">

                                </table>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row" style="padding-left: 10px;padding-right: 10px;">
                            <div class="col-md-6">
                                <table id="commoditiesTable">

                                </table>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row" style="padding-left: 10px;padding-right: 10px;">
                            <div class="col-md-6">
                                <table id="service_and_intergrationsTable">

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="showLoaderImage" id="loadingMessage" class="row">
                    <!--LOADER ANIMATIONS-->
                    <div style="width: 100%;text-align: center">
                        <div id="loader" style="text-align:center">
                            <svg width='170px' height='170px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
                                 preserveAspectRatio="xMidYMid" class="uil-balls">
                                <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                                <g transform="rotate(0 50 50)">
                                    <circle r="5" cx="30" cy="50">
                                        <animateTransform attributeName="transform" type="translate" begin="0s" repeatCount="indefinite"
                                                          dur="0.5s" values="0 0;29.999999999999996 -17.320508075688775"
                                                          keyTimes="0;1"/>
                                        <animate attributeName="fill" dur="0.5s" begin="0s" repeatCount="indefinite" keyTimes="0;1"
                                                 values="#c5523f;#f2b736"/>
                                    </circle>
                                </g>
                                <g transform="rotate(120 50 50)">
                                    <circle r="5" cx="30" cy="50">
                                        <animateTransform attributeName="transform" type="translate" begin="0s" repeatCount="indefinite"
                                                          dur="0.5s" values="0 0;29.999999999999996 -17.320508075688775"
                                                          keyTimes="0;1"/>
                                        <animate attributeName="fill" dur="0.5s" begin="0s" repeatCount="indefinite" keyTimes="0;1"
                                                 values="#f2b736;#499255"/>
                                    </circle>
                                </g>
                                <g transform="rotate(240 50 50)">
                                    <circle r="5" cx="30" cy="50">
                                        <animateTransform attributeName="transform" type="translate" begin="0s" repeatCount="indefinite"
                                                          dur="0.5s" values="0 0;29.999999999999996 -17.320508075688775"
                                                          keyTimes="0;1"/>
                                        <animate attributeName="fill" dur="0.5s" begin="0s" repeatCount="indefinite" keyTimes="0;1"
                                                 values="#499255;#c5523f"/>
                                    </circle>
                                </g>
                            </svg>
                        </div>
                        <div class="loader-info-note"> Loading report... </div>
                    </div>
                </div>




            </div>



        </div>
    </div>
</div>
