
<style>
    .collapsible-body p {
        margin: 0;
        padding: 5px;
    }
    .custom-item{
        padding-right: 3px;
        padding-left: 13px;
        height: 30px;
    }
    .custom-item:hover{
        background-color: #dcdcdc;
        cursor: pointer;
    }
    .active {
        background-color: #dcdcdc;
        cursor: pointer;
    }
    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 100%;
    }
    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
    }
    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
    .table {
        border-collapse: collapse !important;
    }
    .table th {
        background-color: #CCC !important;
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ddd !important;
    }
    .table-grey {
        background-color: #f5f5f5;
    }
    tr:nth-child(odd) {background: #f3f3f3 }
    tr:nth-child(even) {background: #FFF}
    tr:hover{
        background-color: #f2f2f2;
    }
    .spacing{
        margin-left: 10px;
        margin-right: 10px;
    }
</style>


<!--<div class="row">-->
<!--<div ng-include="'views/family_planning/fp_filters.html'"></div>-->
<!--</div>-->

<div class="row" >
    <!--menus-->
    <div ng-include="'views/family_planning/fp_menu.html'"></div>

    <!--cards-->


    <div class="col s12 m12 l10" style="margin-top: 82px">
        <div class="section">
            <!--<div class="{{ fpCards[0].cardClass }}" style="padding-left: 0px">-->
            <!--<div portal-card="" dataobject='fpCards[0]'></div>-->
            <!--</div>-->

            <!--<div class="{{ fpCards[1].cardClass }}" style="padding-left: 0px">-->
            <!--<div portal-card="" dataobject='fpCards[1]'></div>-->
            <!--</div>-->

            <div>
                <h4>Custom All Reports</h4>
            </div>

            <div ng-if="showReportSection" class="col">
                <form>
                    <p>
                        <button  class="btn btn-info" ng-click="previewReport()">Data criteria</button><br>
                    </p>
                </form>
            </div>

            <div class="col s12 m12">

                <div ng-if="!showReportSection" class="card">

                    <div class="row" style="margin-top: 2%">
                        <div class="col">
                            <label class="container">Show aggregate data for lowest selected geographies
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>

                            <label class="container">Show facility data for selected geographies
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>

                            <label class="container">Show facility report for selected facility
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col" style="width: 24%;">
                            <form>
                                <div class="form-group" >
                                    <label>Country:</label>

                                    <multi-select-tree
                                            data-input-model="data.orgUnitTree4"
                                            multi-select="true"
                                            data-output-model="data.outRegistrationOrganisationUnits"
                                            data-default-label="Select Organization Unit"
                                            data-callback="selectOnly1Or2(item, selectedItems)">
                                    </multi-select-tree>
                                </div>
                            </form>
                        </div>

                        <!--<div class="col" style="width: 40%;">-->
                            <!--<form>-->
                                <!--<div class="form-group">-->
                                    <!--<label style="margin-left: 2%;">Period:</label>-->
                                    <!--<div class="input-field col grey lighten-5" style="margin-top: 0px; margin-left: 10%">-->
                                        <!--<div class="col input-field">-->
                                            <!--<select ng-model="selectedYear" ng-change="updatePeriod(selectedYear)" material-select watch >-->
                                                <!--<option value="2018">2018</option>-->
                                                <!--<option value="2017">2017</option>-->
                                                <!--<option value="2016">2016</option>-->
                                                <!--<option value="2015">2015</option>-->
                                                <!--<option value="2014">2014</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                        <!--<style>-->

                                            <!--.months ul.dropdown-content li:last-child{-->
                                                <!--display:none-->
                                            <!--}-->
                                        <!--</style>-->
                                        <!--<div class="col input-field months">-->
                                            <!--<select  ng-change="updateMonth(data.selectedMonth)" ng-model="data.selectedMonth" material-select watch>-->
                                                <!--<option value="{{selectedYear}}01">January</option>-->
                                                <!--<option value="{{selectedYear}}02">February</option>-->
                                                <!--<option value="{{selectedYear}}03">March</option>-->
                                                <!--<option value="{{selectedYear}}04">April</option>-->
                                                <!--<option value="{{selectedYear}}05">May</option>-->
                                                <!--<option value="{{selectedYear}}06">June</option>-->
                                                <!--<option value="{{selectedYear}}07">July</option>-->
                                                <!--<option value="{{selectedYear}}08">August</option>-->
                                                <!--<option value="{{selectedYear}}09">September</option>-->
                                                <!--<option value="{{selectedYear}}10">October</option>-->
                                                <!--<option value="{{selectedYear}}11">November</option>-->
                                                <!--<option value="{{selectedYear}}12">December</option>-->
                                                <!--<option>{{selectedYear}}12</option>-->
                                                <!--&lt;!&ndash;<option ng-repeat="month in monthList" value="{{selectedYear}}{{month.value}}">{{selectedYear}}{{month.value}}</option>-->
                                                <!--<option></option>&ndash;&gt;-->
                                            <!--</select>-->
                                        <!--</div>-->


                                    <!--</div>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                        <!--<div class="col" style="width: 6%;">-->
                            <!--<form>-->
                                <!--<p>-->
                                    <!--<button  class="btn btn-info" ng-click="previewReport()">Preview</button><br>-->
                                <!--</p>-->
                            <!--</form>-->
                        <!--</div>-->
                    </div>

                    <!--second card row on page items-->
                    <div class="row">
                        <div class="col" style="width: 25%">
                            <div class="card">
                                <div class="col" style="margin-top: 2%;width: 100%">
                                    <form>
                                        <div class="form-group" >
                                            <label>Facility staffed with HWs Trained in :</label>
                                            <div class="card">
                                                <ul class="list-group">
                                                    <li ng-repeat="staffed in staffedHWstrained track by $index"
                                                        class="list-group-item custom-item {{staffed.active}}"

                                                        ng-click="updateOutreachCBD(staffed)">{{staffed.name}}</li>
                                                    <!--<li class="list-group-item custom-item">Implants</li>-->
                                                    <!--<li class="list-group-item custom-item">UICD's</li>-->
                                                    <!--<li class="list-group-item custom-item">NSV</li>-->
                                                    <!--<li class="list-group-item custom-item">Minilap</li>-->
                                                    <!--<li class="list-group-item custom-item">First item</li>-->
                                                    <!--<li class="list-group-item custom-item">First item</li>-->
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col" style="width: 50%;">
                            <div class="card">

                                <div class="col" style="margin-top: 2%;width: 33%">
                                    <form>
                                        <div class="form-group" >
                                            <label>Clients by service : <br>
                                                Routine facility based
                                            </label>
                                            <div class="card">
                                                <ul class="list-group">
                                                    <li class="list-group-item custom-item">Male condoms</li>
                                                    <li class="list-group-item custom-item">Female condoms</li>
                                                    <li class="list-group-item custom-item">Oral pills</li>
                                                    <li class="list-group-item custom-item">Injectables</li>
                                                    <!--<li class="list-group-item custom-item">Minilap</li>-->
                                                    <!--<li class="list-group-item custom-item">First item</li>-->
                                                    <!--<li class="list-group-item custom-item">First item</li>-->
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col" style="margin-top: 2%;width: 33%">
                                    <form>
                                        <div class="form-group" >
                                            <label>Clients by service : <br>
                                                Outreach
                                            </label>
                                            <div class="card">
                                                <ul class="list-group">
                                                    <li ng-repeat="outReacher in outreachData track by $index"
                                                        class="list-group-item custom-item {{outReacher.active}} "
                                                        ng-click="updatingsFromOutreachCBD(outReacher)"> {{outReacher.name}}</li>
                                                    <!--<li class="list-group-item custom-item">Implants removal</li>-->
                                                    <!--<li class="list-group-item custom-item">UICD insertions</li>-->
                                                    <!--<li class="list-group-item custom-item">UICD removals</li>-->
                                                    <!--<li class="list-group-item custom-item">Minilap</li>-->
                                                    <!--<li class="list-group-item custom-item">First item</li>-->
                                                    <!--<li class="list-group-item custom-item">First item</li>-->
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col" style="margin-top: 2%;width: 33%">
                                    <form>
                                        <div class="form-group" >
                                            <label>Clients by service : <br>
                                                CBD
                                            </label>
                                            <div class="card">
                                                <ul class="list-group">
                                                    <li class="list-group-item custom-item">Short acting</li>
                                                    <li class="list-group-item custom-item">Implants insertions</li>
                                                    <li class="list-group-item custom-item">Implants removal</li>
                                                    <li class="list-group-item custom-item">UICD insertions</li>
                                                    <!--<li class="list-group-item custom-item">UICD removals</li>-->
                                                    <!--<li class="list-group-item custom-item">Minilap</li>-->
                                                    <!--<li class="list-group-item custom-item">First item</li>-->
                                                    <!--<li class="list-group-item custom-item">First item</li>-->
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col w-100">
                                    <label class="container">Show clients < 20 years of age
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                            </div>



                        </div>

                        <div class="col" style="width: 25%">
                            <div class="card">

                                <div class="col" style="margin-top: 2%;width: 100%">
                                    <form>
                                        <div class="form-group" >
                                            <label>Facility providing services </label>
                                            <div class="card">
                                                <ul class="list-group">
                                                    <li class="list-group-item custom-item">Male condoms</li>
                                                    <li class="list-group-item custom-item">Female condoms</li>
                                                    <li class="list-group-item custom-item">Oral pills</li>
                                                    <li class="list-group-item custom-item">NSV</li>
                                                    <li class="list-group-item custom-item">Minilap</li>
                                                    <!--<li class="list-group-item custom-item">First item</li>-->
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--third items row card on page-->
                    <div class="row">
                        <div class="col" style="width: 25%">
                            <div class="card">
                                <div class="col" style="margin-top: 2%;width: 100%">
                                    <form>
                                        <div class="form-group" >
                                            <label>Facility stocked out:</label>
                                            <div class="card">
                                                <ul class="list-group">
                                                    <li class="list-group-item custom-item">Oral pills</li>
                                                    <li class="list-group-item custom-item">Injectables</li>
                                                    <!--<li class="list-group-item custom-item">First item</li>-->
                                                    <!--<li class="list-group-item custom-item">First item</li>-->
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col" style="width: 50%;">
                            <div class="card">
                                <div class="col" style="margin-top: 2%;width: 100%">
                                    <form>
                                        <div class="form-group" >
                                            <label>Service integration </label>
                                            <div class="card">
                                                <ul class="list-group">
                                                    <li class="list-group-item custom-item">Miscarriage/Post abortion clients adopting FP</li>
                                                    <li class="list-group-item custom-item">Postpartum clients adopting FP</li>
                                                    <li class="list-group-item custom-item">FP Clients adopting HIV testing & Councelling</li>
                                                    <li class="list-group-item custom-item">FP Clients adopting Breast cancer screening</li>
                                                    <li class="list-group-item custom-item">FP Clients adopting Cervical cancer screening</li>
                                                    <!--<li class="list-group-item custom-item">Injectables</li>-->
                                                    <!--<li class="list-group-item custom-item">Minilap</li>-->
                                                    <!--<li class="list-group-item custom-item">First item</li>-->
                                                    <!--<li class="list-group-item custom-item">First item</li>-->
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>

                        <div class="col" style="width: 25%" >
                            <div class="card">

                                <div class="col" style="margin-top: 2%">
                                    <form>
                                        <div class="form-group" >
                                            <label>Time Period display</label>
                                            <label class="container">Monthly
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="container">Quarterly
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="container">Annual
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="container">Total
                                                <input type="checkbox" >
                                                <span class="checkmark"></span>
                                            </label>

                                        </div>
                                    </form>
                                </div>


                                <div class="col" style="margin-top: 2%;">
                                    <form>
                                        <div class="form-group" >
                                            <label>Date Range :</label>
                                            <label ng-if="!customDate" class="container">Last Month
                                                <input type="checkbox" checked="checked" >
                                                <span class="checkmark"></span>
                                            </label>

                                            <label ng-if="!customDate" class="container">Last 3 Months
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>

                                            <label ng-if="!customDate" class="container">Last 6 Months
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>

                                            <label ng-if="!customDate" class="container">Last 12 Months
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>

                                            <label class="container">Custom
                                                <input type="checkbox" id="custom_date_checkbox" ng-model="customDate" ng-change="toggleCustomdate(customDate)">
                                                <span class="checkmark"></span>
                                            </label>

                                            <div ng-if="customDate">
                                                <div class="row" style="display: inline-flex">
                                                    <label style="word-break: break-all;"> Start Date :</label>
                                                    <!--<input type="date" class="form-control" ng-model="startDate" ng-change="changestartDate(startDate)">-->
                                                    <div class="col" style="width: 80%;">
                                                        <form>
                                                            <div class="form-group">
                                                                <div class="input-field col grey lighten-5" style="margin-top: 0px;display: flex;">
                                                                    <div class="col input-field">
                                                                        <select ng-model="selectedYear" ng-change="updatePeriod(selectedYear)" material-select watch >
                                                                            <option value="2018">2018</option>
                                                                            <option value="2017">2017</option>
                                                                            <option value="2016">2016</option>
                                                                            <option value="2015">2015</option>
                                                                            <option value="2014">2014</option>
                                                                        </select>
                                                                    </div>
                                                                    <style>

                                                                        .months ul.dropdown-content li:last-child{
                                                                            display:none
                                                                        }
                                                                    </style>
                                                                    <div class="col input-field months">
                                                                        <select  ng-change="updateMonth(data.selectedMonth)" ng-model="data.selectedMonth" material-select watch>
                                                                            <option value="{{selectedYear}}01">January</option>
                                                                            <option value="{{selectedYear}}02">February</option>
                                                                            <option value="{{selectedYear}}03">March</option>
                                                                            <option value="{{selectedYear}}04">April</option>
                                                                            <option value="{{selectedYear}}05">May</option>
                                                                            <option value="{{selectedYear}}06">June</option>
                                                                            <option value="{{selectedYear}}07">July</option>
                                                                            <option value="{{selectedYear}}08">August</option>
                                                                            <option value="{{selectedYear}}09">September</option>
                                                                            <option value="{{selectedYear}}10">October</option>
                                                                            <option value="{{selectedYear}}11">November</option>
                                                                            <option value="{{selectedYear}}12">December</option>
                                                                            <option>{{selectedYear}}12</option>
                                                                            <!--<option ng-repeat="month in monthList" value="{{selectedYear}}{{month.value}}">{{selectedYear}}{{month.value}}</option>
                                                                            <option></option>-->
                                                                        </select>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>

                                                </div>

                                                <div class="row" style="display: inline-flex">
                                                    <label style="word-break: break-all;"> End Date :</label>
                                                    <!--<input type="date" class="form-control" ng-model="endDate" ng-change="changeendDate(endDate)">-->

                                                    <div class="col" style="width: 80%;">
                                                        <form>
                                                            <div class="form-group">
                                                                <div class="input-field col grey lighten-5" style="margin-top: 0px;display: flex;">
                                                                    <div class="col input-field">
                                                                        <select ng-model="selectedYear" ng-change="updatePeriod(selectedYear)" material-select watch >
                                                                            <option value="2018">2018</option>
                                                                            <option value="2017">2017</option>
                                                                            <option value="2016">2016</option>
                                                                            <option value="2015">2015</option>
                                                                            <option value="2014">2014</option>
                                                                        </select>
                                                                    </div>
                                                                    <style>

                                                                        .months ul.dropdown-content li:last-child{
                                                                            display:none
                                                                        }
                                                                    </style>
                                                                    <div class="col input-field months">
                                                                        <select  ng-change="updateMonth(data.selectedMonth)" ng-model="data.selectedMonth" material-select watch>
                                                                            <option value="{{selectedYear}}01">January</option>
                                                                            <option value="{{selectedYear}}02">February</option>
                                                                            <option value="{{selectedYear}}03">March</option>
                                                                            <option value="{{selectedYear}}04">April</option>
                                                                            <option value="{{selectedYear}}05">May</option>
                                                                            <option value="{{selectedYear}}06">June</option>
                                                                            <option value="{{selectedYear}}07">July</option>
                                                                            <option value="{{selectedYear}}08">August</option>
                                                                            <option value="{{selectedYear}}09">September</option>
                                                                            <option value="{{selectedYear}}10">October</option>
                                                                            <option value="{{selectedYear}}11">November</option>
                                                                            <option value="{{selectedYear}}12">December</option>
                                                                            <option>{{selectedYear}}12</option>
                                                                            <!--<option ng-repeat="month in monthList" value="{{selectedYear}}{{month.value}}">{{selectedYear}}{{month.value}}</option>
                                                                            <option></option>-->
                                                                        </select>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col" style="width: 6%;margin-left: 45%;">
                            <form>
                                <p>
                                    <button  class="btn btn-info" ng-click="previewReport()">Preview</button><br>
                                </p>
                            </form>
                        </div>
                    </div>

                </div>

                <!--card section 02 with tables-->
                <div ng-if="showReportSection" class="card">
                    <div style="text-align: center">
                        <h5>{{reportHeader}}</h5>
                    </div>
                    <div class="row spacing">
                        <table class="table table-hover table-condensed table-bordered">
                            <tr class="table-grey">
                                <th ng-repeat="header in aggregateDataViewHeader track by $index"> {{header.name}}</th>
                                <!--<th>Zone</th>-->
                                <!--<th>Region</th>-->
                                <!--<th>District</th>-->
                                <!--<th>Period</th>-->
                                <!--<th>Total FP facilities</th>-->
                                <!--<th>FP Facilities Reporting the FP Template</th>-->
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>sample</td>
                                <td>sample</td>
                                <td>sample</td>
                                <td>sample</td>
                                <td>sample</td>
                                <td>sample</td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>sample</td>
                                <td>sample</td>
                                <td>sample</td>
                                <td>sample</td>
                                <td>sample</td>
                                <td>sample</td>
                            </tr>

                        </table>
                    </div>
                </div>
                <!--End of card section 02 with tables-->


            </div>



        </div>
    </div>
</div>
