
<style>
    .collapsible-body p {
        margin: 0;
        padding: 5px;
    }

    .custom-item{
        padding-right: 3px;
        padding-left: 3px;
        height: 30px;
    }

    .custom-item:hover{
        background-color: #dcdcdc;
    }
</style>


<!--<div class="row">-->
    <!--<div ng-include="'views/family_planning/fp_filters.html'"></div>-->
<!--</div>-->

<div class="row" >
    <!--menus-->
    <div ng-include="'views/family_planning/fp_menu.html'"></div>
    <!--cards-->


    <div class="col s12 m12 l10" style="margin-top: 82px">
        <div class="section">
            <!--<div class="{{ fpCards[0].cardClass }}" style="padding-left: 0px">-->
            <!--<div portal-card="" dataobject='fpCards[0]'></div>-->
            <!--</div>-->

            <!--<div class="{{ fpCards[1].cardClass }}" style="padding-left: 0px">-->
            <!--<div portal-card="" dataobject='fpCards[1]'></div>-->
            <!--</div>-->

            <div>
                <h4>Monthly PDF Reports</h4>
            </div>
            <div class="col s12 m12">

                <div class="card">

                    <div class="row">

                        <div class="col" style="width: 15%;">
                            <form>
                                <div class="form-group" >
                                    <label>Country:</label>
                                    <div class="card">
                                        <ul class="list-group">
                                            <li class="list-group-item custom-item">Tanzania</li>
                                            <!--<li class="list-group-item custom-item">First item</li>-->
                                            <!--<li class="list-group-item custom-item">First item</li>-->
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col" style="width: 15%;">
                            <form>
                                <div class="form-group">
                                    <label>Zone:</label>
                                    <div class="card">
                                        <!--<ul class="list-group" ng-repeat="zone in zonals track by $index" >-->
                                            <!--<li class="list-group-item custom-item" >{{zone.name}}</li>-->
                                            <!--<li class="list-group-item custom-item">First item</li>-->
                                            <!--<li class="list-group-item custom-item">First item</li>-->
                                        <ul class="list-group">
                                            <li class="list-group-item custom-item" > Northern Zone</li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col" style="width: 15%;">
                            <form>
                                <div class="form-group">
                                    <label>Region:</label>
                                    <div class="card">
                                        <ul class="list-group">
                                            <li class="list-group-item custom-item">Arusha Region</li>
                                            <!--<li class="list-group-item custom-item">First item</li>-->
                                            <!--<li class="list-group-item custom-item">First item</li>-->
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col" style="width: 15%;">
                            <form>
                                <div class="form-group">
                                    <label>District:</label>
                                    <div class="card">
                                        <ul class="list-group">
                                            <li class="list-group-item custom-item">Arusha City Council </li>
                                            <!--<li class="list-group-item custom-item">First item</li>-->
                                            <!--<li class="list-group-item custom-item">First item</li>-->
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col" style="width: 15%;">
                            <form>
                                <div class="form-group">
                                    <label>Facility:</label>
                                    <div class="card">
                                        <ul class="list-group">
                                            <li class="list-group-item custom-item">AICC Hospital</li>
                                            <!--<li class="list-group-item custom-item">First item</li>-->
                                            <!--<li class="list-group-item custom-item">First item</li>-->
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col" style="width: 10%;">
                            <form>
                                <div class="form-group">
                                    <label>Date range:</label>
                                    <input type="date" class="form-control">
                                    <br>
                                    to
                                    <br>
                                    <input type="date" class="form-control">
                                </div>
                            </form>
                        </div>

                        <div class="col" style="width: 6%;margin-top: 5%;">
                            <form>
                                <p>
                                    <button  class="btn btn-info">Preview</button><br>
                                </p>
                            </form>
                        </div>

                    </div>

                    <div class="row">
                        <form ng-submit="addSubscriber()">
                        <h5 style="text-align: center">Subscribe Here for Monthly Reports, Enter your name and email address to automatically receive this report by email monthly</h5>
                        <p style="width: 40%">Name *:<br><input type="text" placeholder="Name" ng-model="newUser.name" ></p>
                        <p style="width: 40%">Email *:<input type="email" placeholder="Email Address" ng-model="newUser.email"></p>
                        <p>Report Area *:
                        <multi-select-tree
                        data-input-model="data.orgUnitTree4"
                        multi-select="true"
                        data-output-model="data.outRegistrationOrganisationUnits"
                        data-default-label="Select Organization Unit"
                        data-callback="selectOnly1Or2(item, selectedItems)">
                        </multi-select-tree>
                        </p>
                        <p>
                        <button ng-if="newUser.name !== '' && newUser.email !== '' && data.outRegistrationOrganisationUnits.length !== 0" class="btn btn-info">Subscribe</button><br>
                        </p>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>