
<style>
    .collapsible-body p {
        margin: 0;
        padding: 5px;
    }
</style>


<!--<div class="row">-->
    <!--<div ng-include="'views/family_planning/fp_filters.html'"></div>-->
<!--</div>-->

<div class="row" >
    <!--menus-->
    <div ng-include="'views/family_planning/fp_menu.html'"></div>
    <!--cards-->


    <div class="col s12 m12 l10" style="margin-top: 82px">
        <div class="section">
            <!--<div class="{{ fpCards[0].cardClass }}" style="padding-left: 0px">-->
            <!--<div portal-card="" dataobject='fpCards[0]'></div>-->
            <!--</div>-->

            <!--<div class="{{ fpCards[1].cardClass }}" style="padding-left: 0px">-->
            <!--<div portal-card="" dataobject='fpCards[1]'></div>-->
            <!--</div>-->

            <div>
                <h4>Monthly PDF Reports</h4>
            </div>
            <div class="col s12 m12">

                <div class="card">

                    <div class="row">

                        <div class="col">

                            <form >

                                <div class="form-group">
                                    <label for="sel1">Select list:</label>
                                    <select class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </form>

                        </div>
                    </div>

                    <!--<div class="row">-->
                        <!--<form ng-submit="addSubscriber()">-->
                        <!--<h5 style="text-align: center">Subscribe Here for Monthly Reports, Enter your name and email address to automatically receive this report by email monthly</h5>-->
                        <!--<p style="width: 40%">Name *:<br><input type="text" placeholder="Name" ng-model="newUser.name" ></p>-->
                        <!--<p style="width: 40%">Email *:<input type="email" placeholder="Email Address" ng-model="newUser.email"></p>-->
                        <!--<p>Report Area *:-->
                        <!--<multi-select-tree-->
                        <!--data-input-model="data.orgUnitTree4"-->
                        <!--multi-select="true"-->
                        <!--data-output-model="data.outRegistrationOrganisationUnits"-->
                        <!--data-default-label="Select Organization Unit"-->
                        <!--data-callback="selectOnly1Or2(item, selectedItems)">-->
                        <!--</multi-select-tree>-->
                        <!--</p>-->
                        <!--<p>-->
                        <!--<button ng-if="newUser.name !== '' && newUser.email !== '' && data.outRegistrationOrganisationUnits.length !== 0" class="btn btn-info">Subscribe</button><br>-->
                        <!--</p>-->
                        <!--</form>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
    </div>
</div>