
<style>
    .collapsible-body p {
        margin: 0;
        padding: 5px;
    }

    .custom-item{
        padding-right: 3px;
        padding-left: 13px;
        height: 30px;
    }

    .custom-item:hover{
        background-color: #dcdcdc;
        cursor: pointer;
    }
</style>


<!--<div class="row">-->
    <!--<div ng-include="'views/family_planning/fp_filters.html'"></div>-->
<!--</div>-->

<div class="row" >
    <!--menus-->
    <div ng-include="'views/family_planning/fp_menu.html'"></div>
    <!--cards-->


    <div class="col s12 m12 l10" style="margin-top: 82px">
        <div class="section">
            <!--<div class="{{ fpCards[0].cardClass }}" style="padding-left: 0px">-->
            <!--<div portal-card="" dataobject='fpCards[0]'></div>-->
            <!--</div>-->

            <!--<div class="{{ fpCards[1].cardClass }}" style="padding-left: 0px">-->
            <!--<div portal-card="" dataobject='fpCards[1]'></div>-->
            <!--</div>-->

            <div>
                <h4>Monthly PDF Reports</h4>
            </div>

            <div ng-if="showReportSection" class="col">
                <form>
                    <p>
                        <button  class="btn btn-info" ng-click="previewReport()">Data criteria</button><br>
                    </p>
                </form>
            </div>

            <div class="col s12 m12">
                <div ng-if="!showReportSection" class="card">
                    <div class="row">
                        <div class="col" style="width: 24%;">
                            <form>
                                <div class="form-group" >
                                    <label>Country:</label>

                                    <multi-select-tree
                                            data-input-model="data.orgUnitTree4"
                                            multi-select="true"
                                            data-output-model="data.outRegistrationOrganisationUnits"
                                            data-default-label="Select Organization Unit"
                                            data-callback="selectOnly1Or2(item, selectedItems)">
                                    </multi-select-tree>
                                </div>
                            </form>
                        </div>

                        <div class="col" style="width: 40%;">
                            <form>
                                <div class="form-group">
                                    <label style="margin-left: 2%;">Period:</label>
                                    <div class="input-field col grey lighten-5" style="margin-top: 0px; margin-left: 10%">
                                        <div class="col input-field">
                                            <select ng-model="selectedYear" ng-change="updatePeriod(selectedYear)" material-select watch >
                                                <option value="2018">2018</option>
                                                <option value="2017">2017</option>
                                                <option value="2016">2016</option>
                                                <option value="2015">2015</option>
                                                <option value="2014">2014</option>
                                            </select>
                                        </div>
                                        <style>

                                            .months ul.dropdown-content li:last-child{
                                                display:none
                                            }
                                        </style>
                                        <div class="col input-field months">
                                            <select  ng-change="updateMonth(data.selectedMonth)" ng-model="data.selectedMonth" material-select watch>
                                                <option value="{{selectedYear}}01">January</option>
                                                <option value="{{selectedYear}}02">February</option>
                                                <option value="{{selectedYear}}03">March</option>
                                                <option value="{{selectedYear}}04">April</option>
                                                <option value="{{selectedYear}}05">May</option>
                                                <option value="{{selectedYear}}06">June</option>
                                                <option value="{{selectedYear}}07">July</option>
                                                <option value="{{selectedYear}}08">August</option>
                                                <option value="{{selectedYear}}09">September</option>
                                                <option value="{{selectedYear}}10">October</option>
                                                <option value="{{selectedYear}}11">November</option>
                                                <option value="{{selectedYear}}12">December</option>
                                                <option>{{selectedYear}}12</option>
                                                <!--<option ng-repeat="month in monthList" value="{{selectedYear}}{{month.value}}">{{selectedYear}}{{month.value}}</option>
                                                <option></option>-->
                                            </select>
                                        </div>


                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col" style="width: 6%;">
                            <form>
                                <p>
                                    <button  class="btn btn-info" ng-click="previewReport()">Preview</button><br>
                                </p>
                            </form>
                        </div>

                    </div>
                    <div class="row" style="padding-left: 13px">
                        <form ng-submit="addSubscriber()">
                        <h5 style="text-align: center">Subscribe Here for Monthly Reports, Enter your name and email address to automatically receive this report by email monthly</h5>
                        <p style="width: 40%; display: inline-flex">Name *:<br><input type="text" placeholder="Name" ng-model="newUser.name" ></p>
                        <p style="width: 40%; display: inline-flex">Email *:<input type="email" placeholder="Email Address" ng-model="newUser.email"></p>
                        <p>Report Area *:
                            <div style="width: 30%">
                            <multi-select-tree
                                    data-input-model="data.orgUnitTree4"
                                    multi-select="true"
                                    data-output-model="data.outRegistrationOrganisationUnits"
                                    data-default-label="Select Organization Unit"
                                    data-callback="selectOnly1Or2(item, selectedItems)">
                            </multi-select-tree>
                            </div>

                        </p>
                        <p>
                        <button ng-if="newUser.name !== '' && newUser.email !== '' && data.outRegistrationOrganisationUnits.length !== 0" class="btn btn-info">Subscribe</button><br>
                        </p>
                        </form>
                    </div>
                </div>

                 <!--card section 02 with tables-->
                <div ng-if="showReportSection" class="card">
                    <div class="row">
                        <div style="text-align: center;margin-top: 10%">
                            <h4>Displaying Reports</h4>
                        </div>
                    </div>
                </div>
                <!--End of card section 02 with tables-->

            </div>

        </div>
    </div>
</div>